h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--primary-text-color);
  background-color: var(--bg-primary-color);
  min-width: 820px;
  max-width: 1440px;
  font-size: 14px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

th {
  font-weight: 400;
}
