:root {
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #ffffff;
  --link-text-color: #3a80ba;
  --border-color: #f1f1f1;

  --font-family: "Montserrat", sans-serif;

  --bg-primary-color: #ffffff;
  --bg-secondary-color: #3a80ba;

  --bg-header-color: #3a80ba;
  --bg-footer-color: #1c3b55;

  --bg-first-transaction-color: #fbfbfb;
  --bg-second-transaction-color: #f1f1f1;
}
