.header {
  height: 72px;
  max-width: 1440px;
  background-color: var(--bg-header-color);

  &__text-block {
    display: block;
    margin-left: 130px;
    padding-top: 10px;
    color: var(--secondary-text-color);
    font-size: 40px;
    line-height: 1.2;
  }
}
