main {
  height: calc(100vh - 57px - 72px);
}

.main__wrapper {
  padding: 60px 130px 48px 130px;
}

.main__form-wrapper {
  margin-bottom: 16px;
  border: 1px red solid;
}

.main__transactions-table-wrapper {
  border-radius: 10px;
  max-height: 60vh;
  max-width: 1180px;
  margin-bottom: 56px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main__pagination {
  height: 30px;
  width: 250px;
  border: 2px green solid;
  margin: 0 auto;
  //   margin-bottom: 48px;
}

.main__transactions-table {
  height: 40px;
  border-radius: 5px;
  text-align: center;
  border-collapse: collapse;
  /*   border: 1px lightgrey solid; */
}

.main__transactions-header {
  background-color: rgb(101, 154, 204);
}

.main__transactions-header > tr {
  height: 40px;
  color: white;
}

.main__transactions-column {
  width: 300px;
  padding: 0 12px;
  border: 1px lightgrey solid;
}

.main__transaction-row {
  height: 40px;
  color: grey;
  text-align: center;
  background-color: var(--bg-first-transaction-color);
}
.main__transaction-row:nth-child(2n) {
  background-color: var(--bg-second-transaction-color);
}
.main__transaction-row > td {
  border: 1px white solid;
}
